API_ID=219114
API_HASH=2e37d8eb31651b4d5c3391f8778c6
TOKEN=8227295671:AAGCTQBZ_LiHtxBllhXoqZZ8tTC37P8dTU
LOGGER_ID=-1003368938931
MONGO_DB_URI=mongodb+srv://tryshyamsundar_db_user:tryshyamsundar_der@cluster0.oqr5.mongodb.net/?appName=Cluster0
STRING_SESSIONS=AQFOV6sAcjWLi6hf-FxDnywr4NiJ76xv0zMg2TuNl_y5767QseggAnCMZkZF-H6-Sg_5b9bsJ9BN38KBgoptzDkUmwdijmAEz-Kd-Qgx17_DcmdSS8JqSAyFg06bvPF7nCvikWdCJGa2foBqs8No3Z8TIsJVA0D4oGKEprZRyT6Dr_KUfFk-UPbWpfZ4952uTK7TVX0A5a9qmpaBx0DJSVvkOcmvZrWlAaiWxMJjvz_r8J8YGuRYGuNm2ELcKT2ORnlMH0cNzgfusgUnpu7krpqyiNSj0mgfcUsZXSabQg5GCBf7PcXkqJgZ8dRCcpN1QaNFIeFcugc_atUawJK1ZGPhwAAAAHwiwBkAA
OWNER_ID=7538752811
ARC_API_KEY=ARC0ca5d6a011387a7af24          # get from https://deadlinetech.site
